.Products{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 0rem;
    width: fit-content;
    gap: 10;
    flex-direction: column;
}
.products-items{
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5rem;
    padding-right: 5rem;
}

.Products h1 {
    color: #26201A;
    font-family: "Inter-Bold", Helvetica ;
    font-weight: 600;
    font-size: 19px;
    word-wrap: "break-word";
    margin-bottom: 2rem;
    text-align: left;
    margin-left: 5rem;
}